<div [class]="(isDesktop$ | async) ? '' : ' bg-[#E5E5F7]'" class="header-container w-full h-20 border-b border-[#e5e7eb] flex items-center p-5 justify-between">
    <div class="flex gap-1 items-center">
        @if(!(isDesktop$ | async )) {
           <img src="assets/logos/notes-icon.svg" [attr.alt]="'HEADER.CREATE_NOTE_ICON_ALT' | translate" class="h-11" />
        }
        <div class="font-bold text-lg">{{ title() }}</div>
    </div>
    @if (isDesktop$ | async) {
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [ngModel]="notesService.searchTerm()" (ngModelChange)="notesService.searchTerm.set($event)" />
    </mat-form-field>
    }
</div>