<div class="bottom-nav bg-[#EEF1FA] h-16 w-full justify-around flex items-center fixed bottom-0 left-0 border-t border-[#e5e7eb]">
  @for (item of items(); track item.route) {
    @if (!item.hideOnMobile) {
      <a mat-icon-button [routerLink]="item.route" routerLinkActive="active-icon">
        <mat-icon>{{ item.icon }}</mat-icon>
      </a>

      @if (item.route === '/search') {
        <div class="create-note-btn cursor-pointer" (click)="createNote()">
          <img src="assets/logos/notes-icon.svg" alt="Create new note" class="h-11" />
        </div>
      }
    }
  }
</div>