<div class="sidebar-nav h-screen w-64 bg-[#E5E5F7] p-2">
  <div class="logo-container flex items-center p-3">
    <img [src]="logoPath" class="h-10" />
  </div>

  <mat-nav-list>
    @for (item of items(); track item.route) {
    @if(!item.hideOnDesktop){
    <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: false }">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label | translate }}</span>
    </a>
    }
    }
  </mat-nav-list>
  @if (showTags()) {
    <div class="px-3 mt-4 flex flex-col gap-2 overflow-y-auto">
      <div class="text-xs uppercase text-[#8A90A8]">{{ 'SIDEBAR_NAV.TAGS_SECTION_TITLE' | translate }}</div>
      <mat-chip-set [attr.aria-label]="'SIDEBAR_NAV.TAG_FILTER_ARIA_LABEL' | translate">
        @for (tag of notesService.allTags(); track tag) {
          <mat-chip
            [highlighted]="notesService.selectedTags().includes(tag)"
            (click)="toggleTag(tag)">
            {{ tag }}
            @if (notesService.selectedTags().includes(tag)) {
              <button matChipRemove (click)="onRemove(tag, $event)">
                <mat-icon>cancel</mat-icon>
              </button>
            }
          </mat-chip>
        }
      </mat-chip-set>
    </div>
  }
</div>