@let isDesktop = isDesktop$ | async;
@let hasNote = hasSelectedNote();

<div class="all-notes-container w-full h-screen flex">
  @if (isDesktop || !hasNote) {
    <div class="h-screen border-r border-[#e5e7eb] px-3 pb-20 flex flex-col overflow-auto"
         [class]="isDesktop ? 'w-80' : 'w-full'">
         @if (loading()) {
           <div class="flex flex-col items-center justify-center h-screen p-5 text-center">
             <div class="text-base font-bold mt-2">{{ 'ARCHIVED_NOTES.LOADING' | translate }}</div>
           </div>
         } @else if(notes().length > 0) {
           <app-note-list [notes]="notes()" [archived]="true"></app-note-list>
          } @else {
              <app-empty-archived-state></app-empty-archived-state>
            }
    </div>
  }

  @if (isDesktop || hasNote) {
  <div class="flex-1">
    @if (isDesktop && !hasNote) {
    <app-empty-note-state [showStickyNote]="false"/>
    } @else {
    <router-outlet></router-outlet>
    }
  </div>
  }
</div>