.note-icon {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.note-detail-container {
  background-color: #fafaff;
  background-image:
    linear-gradient(#E4EAFA 1px, transparent 1px),
    linear-gradient(90deg, #E4EAFA 1px, transparent 1px);
  background-size: 26px 26px;
}