<div class="h-screen p-5">
    <mat-chip-set [attr.aria-label]="'TAGS.TAG_FILTER_ARIA_LABEL' | translate">
        @for (tag of notesService.allTags(); track tag) {
        <mat-chip [highlighted]="notesService.selectedTags().includes(tag)" (click)="toggleTag(tag)">
            {{ tag }}
            @if (notesService.selectedTags().includes(tag)) {
            <button matChipRemove (click)="onRemove(tag, $event)">
                <mat-icon>cancel</mat-icon>
            </button>
            }
        </mat-chip>
        }
    </mat-chip-set>
    @if (notesService.selectedTags().length === 0) {
    <div class="h-screen flex justify-center items-center">
        <div class="flex flex-col items-center justify-center h-screen p-5 text-center">
        <div class="text-base font-bold mt-2">{{ 'TAGS.NO_TAG_SELECTED_TITLE' | translate }}</div>
        <div class="text-sm text-gray-500 mt-1">
            {{ 'TAGS.NO_TAG_SELECTED_DESCRIPTION' | translate }}
        </div>
        </div>
    </div>
    } @else if (notesService.filteredNotes().length > 0) {
    <div class="mt-5">
        <app-note-list [notes]="notesService.filteredNotes()" [archived]="false" />
    </div>
    } @else {
    <div class="h-screen flex justify-center items-center">
        <div class="flex flex-col items-center justify-center h-screen p-5 text-center">
        <div class="text-base font-bold mt-2">{{ 'TAGS.NO_NOTES_TITLE' | translate }}</div>
        <div class="text-sm text-gray-500 mt-1">
            {{ 'TAGS.NO_NOTES_DESCRIPTION' | translate }}
        </div>
        </div>
    </div>
    }
</div>