<div class="flex flex-col justify-center items-center h-screen gap-2">
    <div class="text-2xl font-bold flex items-center justify-center gap-3">
        <button mat-icon-button class="flex justify-center">
            <mat-icon>archive</mat-icon>
        </button>
        {{ 'EMPTY_ARCHIVED_STATE.TITLE' | translate }}
    </div>
    <div class="text-center">{{ 'EMPTY_ARCHIVED_STATE.DESCRIPTION' | translate }}</div>
    <button matButton="filled" (click)="navigateToAllNotes()">{{ 'EMPTY_ARCHIVED_STATE.BUTTON_BACK_TO_NOTES' | translate }}</button>
</div>