.custom-notes-background  {
    background-color: #fafaff;
    background-image:
        linear-gradient(#E4EAFA 1px, transparent 1px),
        linear-gradient(90deg, #E4EAFA 1px, transparent 1px);
    background-size: 26px 26px;
}
